<mat-card>
    <mat-card-header>
        <mat-card-title>Create Ads</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Enter Name" required [(ngModel)]="ads.Name" name="something">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Enter Description" required [(ngModel)]="ads.Description" name="something">
                </textarea>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter Short Description" required [(ngModel)]="ads.ShortDescription"
                    name="something">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Select Brand" [(ngModel)]="ads.Brand">
                    <mat-option *ngFor="let brand of brands" [value]="brand.ID" ngDefaultControl name="Brands">
                        {{brand.Name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Select Category" [(ngModel)]="ads.Category">
                    <mat-option *ngFor="let Category of categories" [value]="Category.ID" ngDefaultControl name="Category">
                        {{Category.Name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Select Image" [(ngModel)]="ads.Logo">
                    <mat-option *ngFor="let image of images" [value]="image.ID" ngDefaultControl name="Images">
                        <img src="image.Url" alt="">
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Select Store">
                    <mat-option *ngFor="let store of stores" [value]="store.ID" [(ngModel)]="ads.Store" name="something"
                        ngDefaultControl>
                        {{Category.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter Link" required [(ngModel)]="ads.Url" name="Link">
                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="ads.EndOn">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="createads(ads)">Create</button>
        </div>
    </mat-card-content>
</mat-card>